:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Red Hat Display", sans-serif;

  --fontw-reg: 500;
  --fontw-bold: 700;
  --fontw-dark: 900;

  /*Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /*Neutral */

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --dark-lilac: #cd7df3;
}

body {
  background-color: var(--pale-blue);
  color: var(--Dark-blue);
  font-weight: var(--fontw-reg);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: var(--fontw-dark);
  color: var(--Dark-blue);
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-par {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--desaturated-blue);
  font-weight: var(--fontw-reg);
  margin-bottom: 2rem;
  text-align: center;
  line-height: 2;
  padding: 10px 10px 10px 10px;
}

.par {
  font-size: 1rem;
  color: var(--Dark-blue);
  font-weight: 400;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0;
}

.change {
  margin-left: 30px;
  text-decoration: underline;
  color: var(--bright-blue);
  font-weight: var(--fontw-bold);
  font-size: 1rem;
}

.annual {
  font-weight: var(--fontw-dark);
}

.price {
  color: var(-- -blue);
  margin-bottom: 1rem;
  font-weight: var(--fontw-reg);
}

.cancel {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-weight: var(--fontw-bold);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.music-icon {
  margin-right: 20px;
}

.change:hover {
  text-decoration: none;
  color: var(--dark-lilac);
}
.cancel:hover {
  text-decoration: none;
  color: var(--bright-blue);
}

.submit-btn {
  display: flex;
  flex-direction: row;
  background-color: var(--bright-blue);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 75px 10px 75px;
  font-weight: var(--fontw-bold);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--dark-lilac);
  transition: ease-in-out 0.2s;
}

.attribution {
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: var(--bright-blue);
  text-decoration: none;
  margin-right: 8px;
}
.attribution a:hover {
  color: var(--dark-lilac);
}
